<!DOCTYPE html>
<html lang="en">
<head>

    <title>Delete Employee</title>

</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
      }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>
<body>
    <table>
        <tr>
            <th>NO.</th>
            <th>Name</th>
            <th>Employee ID</th>
            <th>Payscale</th>
            <th>Department</th>
            <th>Hire Date</th>
        </tr>
        <tr>
            <td></td>
            <td>{{ emp_Info }}</td>
            <!-- <td>{{ id }}</td>
            <td>{{ payscale }}</td>
            <td>{{ department }}</td>
            <td>{{ hire_date }}</td> -->
        </tr>
        
    </table>
</body>
</html>