	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form action="/fetchInfo" autocomplete="on" method="POST" enctype="multipart/form-data">

				<h2 style="color: grey">Enter Employee ID</h2>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40" ><br><br>


		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">FETCH INFO</button>
				<br><br>

		  		<a href="{{ url_for('addemp1') }}" class="button" style="margin-right: 2vw;">GO TO UPDATE DATABASE PAGE</a>

			</form>

		</body>
	</font>
</center>
</html>
